<p id="notice"><%= notice %></p>

<p>This is a collection of blog posts that showcases some common XSS vulnerabilities in a simple rails project.</p>
<p>The problems here are mostly caused by using <i>html_safe</i> on <strong>@post.body</strong>.</p>
<p>Except for this <%= link_to 'SQL Injection', sql_injection_path %></p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><strong><%= post.title %></strong></td>
        <td><%= sanitize(post.description.truncate(30)) %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="controls">
  <%= link_to 'New Post', new_post_path %>
</div>
